<!-- form -->
		<form action="{{ path('file_share') }}" method="POST" {{ form_enctype(form) }} class="control-group">
			<input type="hidden" name="current_url_file" id="current_url_file" value=""/> 
			{{ form_widget(form) }}
    		<br/><br/>
	   		 <input type="submit" id="_submit" name="_submit" class="btn btn-primary" data-loading-text="" value="{% trans %}file.share.submit{% endtrans %}"/>		    
					
		</form>