# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/data/uploads/files/*
web/data/downloads/zip/*


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.project
composer.phar
.settings
.settings/*
