<html>
	<head>
		<link rel="stylesheet" href="{{ assets('bundles/filedfile/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ assets('bundles/filedfile/css/bootstrap-resonsive.css') }}">
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{ assets('bundles/filedfile/js/bootstrap.js') }}"></script>
	</head>
	<body>	    
    	
		{% block content %}
	
		{% endblock %}
	
	</body>


</html>