{% extends "::layout.html.twig" %}

{% block body %}
		{% block navbar %}
		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	          <a href="" class="brand">{{ appname }}</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="{% if app.session.get('page')  == "Accueil" %}active {% endif %}"><a href="#">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        
	      </div>
	    </div>
	    {% endblock %}
		{% block content %}
	
		{% endblock %}
	
{% endblock %}