{% extends "FileDUserBundle::layout.html.twig" %}

{% block content %}
	
	<div class="container">
		<div class="alert alert-success">
			<p>
				Votre compte a été enregistré mais il n'est cependant pas encore actif. <br/>
				Vous recevrez une notification par e-mail dès qu'un administrateur aura validé votre compte.
			</p>
		</div>
    </div>
{% endblock %}